<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="scotchApp">

<head>
  <!-- SPELLS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" type="text/css" href="stylesheets/aboutjcp.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/alter.css" />

  <script src="javascripts/nav.js"></script>
  <script src="javascripts/new.js"></script>
</head>

<!-- define angular controller -->
<body ng-app="scotchApp">

    <div class="wrapper">
        <header>
           <nav>
              <div class="menu-icon">
                 <i class="fa fa-bars fa-2x"></i>
              </div>
               <div class="logo">
                   <a  href="/"><img style="width: 60%" src="images/basic/logo.png"></a>
               </div>
              <div class="menu">
                 <ul>
                    <li><a href="useCoin" >Use A Coin</a></li>
                    <li><a class="act" href="aboutJcp" >About JCP</a></li>
                    <li><a href="news" >News</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a onclick="notService()">Sign up</a></li>
                 </ul>
              </div>
           </nav>
        </header>
      

</div>




  <div id="main">
      <header id="about_back"></header>
      <p style="position: absolute; top: 67%; left: 100px; color: #eee; font-size: 37px;z-index: 1; "><b>JCP의 방향</b></p>
      <p style="position: absolute; top: 75%; left: 100px; color: #eee; font-size: 22px;z-index: 1;font-weight: 300 "> JCP는 블록체인의 연구 및 개발을 오랜 기간 동안 진행해 왔습니다.<br>편리한 결제 시스템을 갖추었고,<br>이제는 암호화폐의 실질적 가치를 증명하기 위해<br> 사용화에 주력을 다하고 있습니다.</p>
      <header id="about_back2"></header>
      <p style="position: absolute; top: 167%; left: 100px; color: #eee; font-size: 37px;z-index: 1; "><b>암호화폐의 가치</b></p>
      <p style="position: absolute; top: 175%; left: 100px; color: #eee; font-size: 22px;z-index: 1;font-weight: 300  "> 2010년 05월 18일 비트코인과 피자의 첫 교환이 이루어진 사건<br>비트코인이 실물교환의 기능을 할 수 있게 됨으로써 가치를 인정받게 됩니다.<br>암호화폐를 어디에 쓸 수 있을까 연구만 하는 시대는 이미 지났고,<br>현재는 사용처가 많은 암호화폐가 인정받습니다.</p>
    
  </div>



    <!--test-->
 <!-- Footer -->
 <section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>JCPARTNER</a></li>
                    <li><a href="/usecoin"><i class="fa fa-angle-double-right"></i>USE A COIN</a></li>
                    <li><a href="/aboutJcp"><i class="fa fa-angle-double-right"></i>About JCP</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/news"><i class="fa fa-angle-double-right"></i>News</a></li>
                    <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>JCPARTNER INFO</h5>
             <p style="color: #fff; font-size: 12px;text-align: left; margin-left: 30%">
      <br><b>주소 :</b> 경기도 성남시 분당구 성남대로 916번길 11 글라스타워 5층
      <br>
      <br><b>전화번호 :</b> 031-707-3664</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            
            </div>
       
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            </div>
         
        </div>	
    </div>
</section>
  
</body>

</html>
