<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="scotchApp">

<head>
  <!-- SPELLS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" type="text/css" href="stylesheets/food.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/alter.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/tab.css" />
  <script src="javascripts/food.js"></script>
  <script src="javascripts/nav.js"></script>
  <script src="javascripts/new.js"></script>
</head>

<!-- define angular controller -->
<body ng-app="scotchApp">

    <div class="wrapper">
        <header>
           <nav>
              <div class="menu-icon">
                 <i class="fa fa-bars fa-2x"></i>
              </div>
              <div class="logo">
                 JCPARTNER
              </div>
              <div class="menu">
                 <ul>
                    <li><a href="/" >Jcpartner</a></li>
                    <li><a class="act" href="useCoin" >Use A Coin</a></li>
                    <li><a href="aboutJcp" >About JCP</a></li>
                    <li><a href="news" >News</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a onclick="notService()">Sign up</a></li>
                 </ul>
              </div>
           </nav>
        </header>
      

</div>




  <div id="main">
        <p style="position: absolute; top: 20%; left: 10%; color: #eee; font-size: 36px; z-index: 0;"><b>Food</b></p>

        <div class="container" style="margin-top: 5%">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab" role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab" ><span><i class="glyphicon glyphicon-qrcode"></i></span> QR 코드로 전송 </a></li>
                                <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="
                                    glyphicon glyphicon-phone"></i></span> 문자로 전송</a></li>
                                <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><span><i class="fa fa-briefcase"></i></span> 지갑으로 보내기</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active" id="Section1" style="height:60%">
                                    <h3 class="text-center" style="padding-top: 3%">QR 코드로 전송</h3>
                                    <div class="row" style="margin-top:8%">
                                            <div class="col-md-1" ></div>
                                            <div class="col-md-5">
                                                <div class='square-box center-block' style="margin-top: -5%">
                            <div class='square-content'><div><span>QR 코드 스캐너</span></div></div>
                        </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <form class="form-horizontal">
                          <div class="form-group">
                            <h5 for="inputEmail3" class="col-sm-2 control-label"><b>주소</b></h5>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="QR코드값 입력">
                            </div>
                          </div>
                          <div class="form-group">
                                <h5 for="inputEmail3" class="col-sm-2 control-label"></h5>
                                <div class="col-sm-10">
                                 <h4 style="color: #cc0000"><b>* 1코인 = 1,000원</b></h4>
                                </div>
                              </div>
                          <div class="form-group">
                            <h5 for="inputPassword3" class="col-sm-2 control-label"><b>수량</b></h5>
                            <div class="col-sm-10">
                              <input  id ="num"  onchange="resultFunction()" type="number" class="form-control" id="inputPassword3" placeholder="직접입력">
                            </div>
                          </div>
                           <div class="form-group">
                            <h5 for="inputPassword3" class="col-sm-2 control-label"><b>환산급액</b></h5>
                            <div class="col-sm-10">
                              <input  id ="result" type="number" class="form-control" id="inputPassword3" placeholder="" readonly>
                            </div>
                            
                          </div>
                          <div class="form-group" style="margin-top: 40px">
                            <div class="col-sm-offset-4 col-sm-8">
                                    <a class="btn btn-lg orange" onclick="send()">보내기</a>	
                            </div>
                          </div>
                        </form>
                                            </div>
                                          
                                        </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Section2" style="height:500px">
                                    <h3 class="text-center" style="padding-top: 8%" >Coming Soon</h3>
                                  
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Section3"style="height:500px" >
                                    <h3 class="text-center" style="padding-top: 8%">Coming Soon</h3>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div  style="background: #eee; height: 270px;" class="text-center">
                    <h1 style="color: #222222; padding-top: 50px;">전송 내역</h1>
                    <p style="color: #222222; font-size: 18px; margin-top: 4%; margin-bottom: 3%">
                          내역이 없습니다.
                          </p>
            </div>
  </div>




  
 <!-- Footer -->
 <section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>JCPARTNER</a></li>
                    <li><a href="/usecoin"><i class="fa fa-angle-double-right"></i>USE A COIN</a></li>
                    <li><a href="/aboutJcp"><i class="fa fa-angle-double-right"></i>About JCP</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/news"><i class="fa fa-angle-double-right"></i>News</a></li>
                    <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>JCPARTNER INFO</h5>
             <p style="color: #fff; font-size: 12px;text-align: left; margin-left: 30%">
      <br><b>주소 :</b> 경기도 성남시 분당구 성남대로 916번길 11 글라스타워 5층
      <br>
      <br><b>전화번호 :</b> 031-707-3664</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            
            </div>
            </hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            </div>
            </hr>
        </div>	
    </div>
</section>
  
</body>

</html>
