<!DOCTYPE html>


<html ng-app="scotchApp">

<head>
  <!-- SPELLS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="stylesheets/custom.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/alter.css" />

  <script src="javascripts/nav.js"></script>
  <script src="javascripts/new.js"></script>
</head>

<!-- define angular controller -->
<body ng-app="scotchApp">

    <div class="wrapper">
        <header>
           <nav>
              <div class="menu-icon">
                 <i class="fa fa-bars fa-2x"></i>
              </div>
              <div class="logo">
                 JCPARTNER
              </div>
              <div class="menu">
                 <ul>
                    <li><a class="act" href="/" >Jcpartner</a></li>
                    <li><a href="useCoin" >Use A Coin</a></li>
                    <li><a href="aboutJcp" >About JCP</a></li>
                    <li><a href="news" >News</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a onclick="notService()">Sign up</a></li>
                 </ul>
              </div>
           </nav>
        </header>
        <div class="content">
            <p style="position: absolute; top: 35%; left: 10%; color: #eee; font-size: 45px;z-index: 0; "><b>FOOD,<br><br> Clothing and Shelter</b></p>
     </div>






  <div id="main">
    <div class="container">
        <div class="row">
           
                <div id="news-slider" class="owl-carousel">
                        <div class="col-md-6">
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="images/background/index_pic.jpeg" alt="">
                            <div class="category">상용화 코인</div>
                        </div>
                        <div class="post-review">
                            <h2 class="post-title"><a href="#">상용화 코인</a></h2>
                            <p class="post-description">
                                    암호화폐의 실사용을 가능하게 하다.<br>실생활에 가까워질수록 암호화폐의 가치는 보존 및 상승<br>그리고 블록체인의 기술을 더욱더 발전시킵니다.
                            </p>
                        
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="images/background/index_pic2.jpeg" alt="">
                            <div class="category">결제 시스템</div>
                        </div>
                        <div class="post-review">
                            <h2 class="post-title"><a href="#">결제 시스템</a></h2>
                            <p class="post-description">
                                    암호화폐의 실사용을 가능하게 하다.<br>실생활에 가까워질수록 암호화폐의 가치는 보존 및 상승 <br>그리고 블록체인의 기술을 더욱더 발전시킵니다.
                            </p>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background: #eee; margin-top: 10px; padding-bottom: 50px">
        <div class="top-parallax-section">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 style="color: #222222; padding-top: 50px;">FOOD, Clothing and Shelter</h1>
<div>
<br>
<p style="color: #222222; font-size: 18px; font-weight: 300;padding-top: 10px;">
  실물경제 중 화폐가 가장 많이 사용되는 곳은 외식업 분야입니다. <br>
  전국 6000개의 프랜차이즈 본사, 30만 개의 가맹점이 파트너로 참여할 수 있는 블록체인을 구축하였으며,<br>
  신용카드 사용의 수수료 절감, 기업과 소비자 간 효율적인 광고까지<br>
  기업과 소비자 모두에게 이득이 될 수 있는 생태계를 설계했습니다.<br>

</p>
</div><a class="btn btn-lg orange" href="useCoin">MORE INFO</a>								</div>
        </div>
        <!--end of row-->
                                </div>
    
  </div>




  
 <!-- Footer -->
 <section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>JCPARTNER</a></li>
                    <li><a href="useCoin"><i class="fa fa-angle-double-right"></i>USE A COIN</a></li>
                    <li><a href="/aboutJcp"><i class="fa fa-angle-double-right"></i>About JCP</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/news"><i class="fa fa-angle-double-right"></i>News</a></li>
                    <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>JCPARTNER INFO</h5>
             <p style="color: #fff; font-size: 12px;text-align: left; margin-left: 30%">
      <br><b>주소 :</b> 경기도 성남시 분당구 성남대로 916번길 11 글라스타워 5층
      <br>
      <br><b>전화번호 :</b> 031-707-3664</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            
            </div>
          
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            </div>
          
        </div>	
    </div>
</section>
  
</body>

</html>
